@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/HomeStyle.css" />
</head>

<div class="text-center">

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.partydelights.co.uk/images/sweets/pink-candy-buffet-header.jpg" alt="Sweets" style="width:900px;height:583px;">
            </div>
            <div class="carousel-item">
                <img src="https://images6.alphacoders.com/101/1014229.jpg" alt="Cake" width="900" style="height:583px;">
            </div>
            <div class="carousel-item">
                <img src="https://i3.wp.com/www.happinessishomemade.net/wp-content/uploads/2021/05/Two-Strawberry-Milkshakes-in-Glass-Cups.jpg" alt="Drinks" width="900" height="500">
            </div>
            <br />
            <br />

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>


    </div>
    <br>
    <br />
    <p><h1><i>Beginning the day with something sweet.</i></h1></p>
    <br />
    <br />

    <div class="container">
        <div class="cake2">


            <div class="photo">
                <img src="https://m.media-amazon.com/images/I/41HbVEG6IfL.jpg" alt="">

            </div>
            <div class="text">
                <p class="p-title"><i>CAKE</i></p>
                <p class="lorem">A surprise gift is always a great memory especially when it comes from the people you admire the most. Making others happy gives a great satisfaction and that’s why one should not leave any opportunity to impress the other one..</p>
            </div>
        </div>



        <div class="cake2">



            <div class="text">
                <p class="p-title"><i>DRINK</i></p>
                <p class="lorem">Order drinks online from <i>Lady Lollipop!</i> It's so easy to use, fast and convenient. Try our new, online website which contains our entire takeaway menu.</p>
            </div>

            <div class="photo">
                <img src="https://besthqwallpapers.com/Uploads/23-11-2019/112850/thumb2-blueberry-yogurt-dairy-drinks-yogurt-milkshake-bottles-with-yogurt.jpg" alt="">

            </div>
        </div>
    </div>
    <div class="cake">


        <div class="photo">
            <img src="https://w0.peakpx.com/wallpaper/942/384/HD-wallpaper-lollipops-candy-lollipop-food-white-pink-dessert-sweet.jpg" alt="">

        </div>
        <div class="text">
            <p class="p-title"><i>SWEET</i></p>
            <p class="lorem">Check out our exclusive range of sweets & candy that have been imported directly from countries all over the world, to be delivered directly to your doorstep!</p>
        </div>


    </div>

    <br>
    <br>
    <p><h5>Yesterday, I really wanted cookies. Today, I am eating cookies. Follow your dreams.</h5></p>
    <br />
    <br />
    <div class="container">
        <div class="left">
            <div class="card-deck">
                <div class="card">
                    <img src="https://www.missmalini.com/content/images/size/w760/wp-content/uploads/2020/05/BeFunky-collage-18.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Need a sweet?</h5>
                        <p class="card-text">Looking for something to sweeten your day? We have just what you need! Come take a look at our cupcakes available for order online….</p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
                <div class="card">
                    <img src="https://theinspiredhome.imgix.net/images/E95A7826-resize_170710_125621.jpg?fit=clip&q=80&w=850" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Life is sweeter with milkshakes.</h5>
                        <p class="card-text">And a flavor for every taste — all crafted using whole fruits and organic veggies true to our Clean Blends promise.</p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
                <div class="card">
                    <img src="https://www.ziprecruiter.com/svc/fotomat/public-ziprecruiter/uploads/job_description_template/Pastry_Cook.jpg=ws720x480" class="sweets" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Obsessed with desserts.</h5>
                        <p class="card-text">Perfectly delicious cakes without the pre-planning! Choose from a selection of designs and flavors that can be created with as little as 4 days notice..</p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>


    </div>
  
    <link rel="stylesheet" href="~/css/HomeStyle.css" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

   


</div>
