@model Lady_Lollipop.Models.Cake

@{
    ViewData["Title"] = "Add a Cake";
}

<head>
    <link rel="stylesheet" href="~/css/cakes.css" />
</head>
<h1 class="h1-create-edit">Add a new cake</h1>

<hr style="border: 1px solid #fd4b4b9e;" />
<div>
    <div>
        <form asp-action="Create" class="form-create-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <img class="img-create-edit" id="PicturePreview" />
            </div>
            <div class="form-group div-create-edit">
                <label asp-for="Picture" class="control-label label-create-edit"></label>
                <input class="input-create-edit form-control" asp-for="Picture" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group div-create-edit">
                <label asp-for="Name" class="control-label label-create-edit"></label>
                <input class="input-create-edit form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group div-create-edit">
                <label asp-for="Price" class="control-label label-create-edit"></label>
                <input class="input-create-edit form-control" asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group div-create-edit">
                <label asp-for="Stock" class="control-label label-create-edit"></label>
                <input class="input-create-edit form-control" asp-for="Stock" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group div-create-edit">
                <label asp-for="Description" class="control-label label-create-edit"></label>
                <textarea class="input-create-edit form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group div-create-edit">
                <label asp-for="Ingridients" class="control-label label-create-edit"></label>
                <textarea class="input-create-edit form-control" asp-for="Ingridients"></textarea>
                <span asp-validation-for="Ingridients" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex; justify-content: space-between; margin-left: 15px;">
                <a class="cancel-create-edit" asp-action="index"> Cancel</a>
                <input class="submit-create-edit" type="submit" value="Create" />
            </div>
        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
        var output = document.getElementById('PicturePreview');
        output.src = $('#Picture').val();
    })
    $('#Picture').on("change", function () {
        var output = document.getElementById('PicturePreview');
        output.src = $(this).val();
    })
    </script>
}
