@{
    ViewData["Title"] = "Registration Succesfull";
}

<head>
    <link rel="stylesheet" href="~/css/Mashup.css" />
</head>
<div>
    <h2 class="login-account">Your account was created successfully</h2>
    <hr style="border: 1px solid #fd4b4b9e;" />
    <p style="text-align: center; font-size: 20px; color: #FD4B4B;font-weight:500;padding-top:50px;">
    You may log in your Profile</p>
    </hr>
    <p style="text-align: center; font-size: 30px; font-weight: 700; color: #FD4B4B; padding-top: 50px; ">Thank You!</p>


</div>