@model IEnumerable<Lady_Lollipop.Models.ApplicationUser>

@{
    ViewData["Title"] = "List of Users";
}


<head>
    <link rel="stylesheet" href="~/css/Mashup.css" />
</head>
<p>
    <h4 class="login-account">Users</h4>
</p>
<hr style="border: 1px solid #fd4b4b9e;" />


<div class="main-div-users">
    <table>
        <thead>
            <tr>
                <th class="table-element-order">User Name</th>
                <th class="email-users">Email</th>
            </tr>
        </thead>
        <tbody >
            @foreach (var item in Model)
            {
                <tr style="padding:10px 0px 10px 0px">
                    <td style="color: #FD4B4B; font-size: 23px; font-weight: 700; text-align: center; ">@item.UserName</td>
                    <td>
                    </td>
                    <td style="color: #FD4B4B; font-size: 23px; font-weight: 500; text-align: center; padding-left:50px;">
                        @item.Email
                    </td>

                </tr>
                <tr style="border-bottom: 1px solid #000;"></tr>
            }
        </tbody>
    </table>
    </div>
